@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
      --Green: #04CE4D;
}

.home-style{
      font-family: "Poppins", serif;
      background-image: url(src/assets/Semi_Circle.svg);
      background-repeat: no-repeat;
      background-position: right 3000px;
}
.shadow-text{
      text-shadow: 0rem 0.1rem black;
}
.partner-style{
      background-image: url(src/assets/Semi_Circle_Green.svg);
      background-repeat: no-repeat;
      background-position: left 1000px;
}
.hero-style{
      background-image: url(../src/assets/Demi_circle.svg);
      background-repeat: no-repeat;
      background-position: right top;
      background-color: var(--Green);
}